@font-face {
    font-family: 'lars';
    src: url('/fonts/Lars-Regular.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'lars';
    src: url('/fonts/Lars-RegularItalic.woff2')
      format('woff2');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'lars-extended';
    src: url('/fonts/Lars-RegularExtended.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'lars-extended';
    src: url('/fonts/Lars-RegularExtendedItalic.woff2')
      format('woff2');
    font-weight: normal;
    font-style: italic;
  }

:root {
    /* Colors */
    --background-color: #ffffff;
    --foreground-color: #000000;
    --accent-color: rgb(0, 204, 102);
    /* Typo */
    --font-family-normal: 'lars-extended', sans-serif;
    --font-family-extended: 'lars-extended', sans-serif;
    --font-size-small: 13px;
    --font-size-normal: 15px;
    --font-size-mid: 22px;
    --font-size-large: 38px;
    /* Spacing */
    --outer-margin: 20px;
    --inner-margin: 10px;
    --total-margin: calc(var(--outer-margin) + var(--inner-margin));
    --double-total-margin: calc(var(--total-margin) * 2);
    /* Z-index */
    --z-nav: 100;
    --z-modal: 1000;
    --z-phone-nav: 10000;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-normal);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: var(--font-size-normal);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overscroll-behavior: none;
}

h1 {
    font-size: var(--font-size-large);
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: var(--font-size-mid);
    margin: 0;
    font-weight: normal;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

button {
  background: transparent;
  border: none;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-normal)
}

p.reference {
  font-size: var(--font-size-small);
}

/* Target the first p.reference that appears after p.normal paragraphs */
p.normal + p.reference,
p.normal ~ p.reference:first-of-type {
  margin-top: 4em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
